$breakpoint-medium: 768px;
$global-primary-background: #803093;
$inputs-blured-color: #d0e8e6;
$inputs-focused-color: #a1d2ce;
$form-danger-background: #efe0e0;
$form-danger-border: #ee90a2;

@import "~uikit/src/scss/variables-theme.scss";
