@import-normalize;
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  font-family: "Open Sans" !important;
}

html {
  background-image: url(./images/texture.png);
  background-size: 100px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
